* {
    box-sizing: border-box;
    color: antiquewhite;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(41, 41, 165);
}

header{
    border-bottom: 2px ridge skyblue;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

header select, header select:active, header select:hover, header select:visited{
    border: 1px solid white;
    background-color: transparent;
    padding: 3px;
}

header ul{
    text-align: center;
}

header ul li {
    display: inline-block;
    width: 20%;
    list-style: none;
    background-color: transparent;
    font-style: normal;
    box-shadow: 0px 0px 1px blue;
    border-radius: 1px 2px 0px 10px;
    background-color: #eeeeee11;
    padding: 4px;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    padding: 6px;
}

h2 {
    background-color: rgb(50, 41, 165);
    border-bottom: 2px ridge skyblue;
}

code {
    display: block;
    text-align: left;
    padding: 20px;
}

p, code {
    text-align: left;
    padding: 4px;
}

p{
    text-indent: 20px;
}

code {
    color: lightblue;
}

ol{
    list-style-type: disc;
    text-align: left;
}

dt {
    color: red;
    border-bottom: 2px solid red;
    display: inline-block;
}

table {
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

table th {
    font-size: x-large;
    border: 1px solid red;
    width: 50%;
}

table td {
    border: 1px solid black;
}

.red {
    color: red;
    font-variant: small-caps;
}

#message{
    position: fixed;
    bottom: 4px;
    left: 4px;
    padding: 4px;
    background-color: #27509D;
    color: #d48afb;
    border-radius: 4px;
    font-size: x-large;
    box-shadow: 0px 0px 10px hsl(219, 20%, 58%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    transition: all 0.3s linear;
}

code {
    position: relative;
    width: 70%;
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 10px 20px 10px;
}

button.btn {
    display: inline-block;
    color: red;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 4px blue;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
}

iframe {
    width: 14%;
    border: none;
    border-radius: 10px;
    overflow: hidden !important;
    overflow-wrap: break-word;
}

.ad{
    border: none;
    background-color: rgba(0, 0, 0, 0.446);
    width: 96%;
    margin: 20px auto;
}